In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

# Try reading the CSV file with a different encoding
try:
    store = pd.read_csv("Sample-Superstore.csv", encoding='latin-1')
except UnicodeDecodeError:
    print("Error: Unable to read the file with 'latin-1' encoding.")
    try:
        store = pd.read_csv("Sample-Superstore.csv", encoding='utf-16')
    except UnicodeDecodeError:
        print("Error: Unable to read the file with 'utf-16' encoding.")

In [3]:
store.rename(columns={"Order ID": "OrderID", "Order Date": "OrderDate", "Ship Date": "ShipDate", "Ship Mode": "ShipMode", "Customer ID": "CustomerID", "Customer Name": "CustomerName", "Postal Code": "PostalCode", "Product ID": "ProductID", "Product Name": "ProductName"}, inplace=True)

In [4]:
store_copied= store.copy()

In [6]:
import pandas as pd


store_copied['UnitPrice'] = (store_copied['Sales'] - store_copied['Discount']) / store_copied['Quantity']

In [14]:
store_copied['CostPrice']= ((store_copied['Sales'] - store_copied['Profit']) - store_copied['Discount']).round(2)

In [15]:
store_copied.head(2)

,Row ID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,ProductID,Category,Sub-Category,ProductName,Sales,Quantity,Discount,Profit,UnitPrice,CostPrice
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,130.98,220.05
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,243.98,512.36

In [ ]:
// Use DBML to define your database structure
// Docs: https://dbml.dbdiagram.io/docs

// Use DBML to define your database structure
// Docs: https://dbml.dbdiagram.io/docs

Table address {
  AddressID integer [pk]
  CustomerID text  [ref: > customers.CustomerID] // Foreign key reference to customers.CustomerID
  Country text
  Region text
  State text
  City text
  PostalCode integer
}
Table shipments {
	ShipID integer [pk]
	ShipDate text
	ShipMode text
	CustomerID text [ref: > customers.CustomerID]
  ProductID text [ref: > products.ProductID]
}



 Table customers {
	CustomerID text [pk]
	CustomerName text
	Segment text

}


TABLE order_details {
  OrderDetailsID integer [pk]
	OrderID text [ref: > orders.OrderID]
	ProductID text [ref: > products.ProductID]
	Quantity integer
	
}

Table orders {
	OrderID text [pk]
	OrderDate text
	CustomerID text
}

Table products {
	ProductID text [pk]
	Category text
	SubCategory text
	ProductName text
	UnitPrice real
	CostPrice real
}

In [ ]:

 UnitPrice = store_copied[(Sales - Discount) / Quantity]

In [ ]:
// Use DBML to define your database structure
// Docs: https://dbml.dbdiagram.io/docs

// Use DBML to define your database structure
// Docs: https://dbml.dbdiagram.io/docs

Table address {
  AddressID integer [pk]
  CustomerID text  [ref: > customers.CustomerID] // Foreign key reference to customers.CustomerID
  Country text
  Region text
  State text
  City text
  PostalCode integer
}
Table shipments {
	ShipID integer [pk]
	ShipDate text
	ShipMode text
	CustomerID text [ref: > customers.CustomerID]
  ProductID text [ref: > products.ProductID]
}



 Table customers {
	CustomerID text [pk]
	CustomerName text
	Segment text

}


TABLE order_details {
  OrderDetailsID integer [pk]
	OrderID text [ref: > orders.OrderID]
	ProductID text [ref: > products.ProductID]
	Quantity integer
	
}

Table orders {
	OrderID text [pk]
	OrderDate text
	CustomerID text
}

Table products {
	ProductID text [pk]
	Category text
	SubCategory text
	ProductName text
	UnitPrice real
	CostPrice real
}

In [ ]:
### MODIFIED




// Use DBML to define your database structure
// Docs: https://dbml.dbdiagram.io/docs

// Use DBML to define your database structure
// Docs: https://dbml.dbdiagram.io/docs

Table address {
  AddressID integer [pk]
  UniqueCustomerID text  [ref: > customers.UniqueCustomerID] // Foreign key reference to customers.CustomerID
  Country text
  Region text
  State text
  City text
  PostalCode integer
}
Table shipments {
	ShipID integer [pk]
	ShipDate text
	ShipMode text
	UniqueCustomerID text [ref: > customers.UniqueCustomerID]
  UniqueProductID text [ref: > products.UniqueProductID]
}



 Table customers {
	UniqueCustomerID text [pk]
  CustomerID text
	CustomerName text
	Segment text

}


TABLE order_details {
  OrderDetailsID integer [pk]
	UniqueOrderID text [ref: > orders.UniqueOrderID]
	UniqueProductID text [ref: > products.UniqueProductID]
	Quantity integer
	
}

Table orders {
	UniqueOrderID text [pk]
  OrderID text
	OrderDate text
	UniqueCustomerID text
}

Table products {
	UniqueProductID text [pk]
  ProductID text 
	Category text
	SubCategory text
	ProductName text
	UnitPrice real
	CostPrice real
}

In [ ]:
SELECT Category,
       SUM((UnitPrice * (1 - Discount)) * Quantity) AS TotalRevenue,
       SUM(CostPrice * Quantity) AS TotalCost,
       SUM((UnitPrice * (1 - Discount)) * Quantity) - SUM(CostPrice * Quantity) AS Profit
FROM YourTableName
GROUP BY Category;

In [ ]:
SELECT Category,
       SUM(Revenue) AS TotalRevenue,
       SUM(Cost) AS TotalCost,
       SUM(Revenue) - SUM(Cost) AS Profit
FROM YourTableName
GROUP BY Category;

In [ ]:

-- Question

-- 1. What is the category generating the maximum sales revenue?
SELECT Category,
       SUM((ProductPrice * (1 - Discount)) * Quantity) AS TotalSales
FROM products P
JOIN order_details OD ON P.UniqueProductID = OD.UniqueProductID
GROUP BY Category
ORDER BY TotalSales DESC
LIMIT 1;


-- 1(b)  What about the profit in this category?
SELECT Category,
       SUM((ProductPrice * (1 - Discount)) * Quantity) AS TotalSales,
	   SUM ((ProductPrice * (1 - Discount)) * Quantity)- SUM(SupplierPrice * Quantity) AS Profit
FROM products P
JOIN order_details OD ON P.UniqueProductID = OD.UniqueProductID
GROUP BY Category
ORDER BY TotalSales DESC
LIMIT 1;


-- 1(c) Are they making a loss in any categories?
SELECT Category,
       SUM((ProductPrice * (1 - Discount)) * Quantity) AS TotalSales,
	   SUM ((ProductPrice * (1 - Discount)) * Quantity)- SUM(SupplierPrice * Quantity) AS Profit
FROM products P
JOIN order_details OD ON P.UniqueProductID = OD.UniqueProductID
GROUP BY Category
HAVING Profit<0;


-- 2 What are 5 states generating the maximum and minimum sales revenue?

-- States with maximum sales revenue
SELECT  *
FROM(
SELECT State, 
       SUM((ProductPrice * (1 - Discount)) * Quantity) AS TotalSales	   
FROM address A
JOIN customers C ON A.UniqueCustomerID =C.UniqueCustomerID
JOIN shipments S ON C.UniqueCustomerID = S.UniqueCustomerID
JOIN products P ON S.UniqueProductID = P.UniqueProductID
JOIN order_details OD ON P.UniqueProductID = OD.UniqueProductID
GROUP BY State
ORDER BY TotalSales DESC
LIMIT 5
)


UNION -- A union to have both group of states in the same  Table
-- State with minimum sales revenue 
SELECT *
FROM (
SELECT State, 
       SUM((ProductPrice * (1 - Discount)) * Quantity) AS TotalSales	   
FROM address A
JOIN customers C ON A.UniqueCustomerID =C.UniqueCustomerID
JOIN shipments S ON C.UniqueCustomerID = S.UniqueCustomerID
JOIN products P ON S.UniqueProductID = P.UniqueProductID
JOIN order_details OD ON P.UniqueProductID = OD.UniqueProductID
GROUP BY State
ORDER BY TotalSales ASC
LIMIT 5
);




-- 3. What are the 3 products in each product segment with the highest sales?
-- A CTE that returns a Table of ranked ProductName and Segment based on their Total sales
WITH RankedProducts AS (
    SELECT ProductName,
           Segment,
           SUM((ProductPrice * (1 - Discount)) * Quantity) AS TotalSales,
           ROW_NUMBER() OVER (PARTITION BY Segment ORDER BY SUM((ProductPrice * (1 - Discount)) * Quantity) DESC) AS Rank
    FROM products P 
    JOIN order_details OD ON P.UniqueProductID = OD.UniqueProductID
    JOIN shipments S ON P.UniqueProductID = S.UniqueProductID
    JOIN customers C ON S.UniqueCustomerID = C.UniqueCustomerID
    GROUP BY Segment, ProductName
)
SELECT ProductName, Segment, TotalSales
FROM RankedProducts
WHERE Rank <= 3  -- Condition to return only the Top 3 Products with highest sales
;





-- 3(b) Are they the 3 most profitable products as well?
-- A CTE that returns a Table of ranked ProductName and Segment based on their Profit
WITH RankedProducts AS (
    SELECT ProductName,
           Segment,
           SUM ((ProductPrice * (1 - Discount)) * Quantity)- SUM(SupplierPrice * Quantity) AS Profit,
           ROW_NUMBER() OVER (PARTITION BY Segment ORDER BY SUM ((ProductPrice * (1 - Discount)) * Quantity)- SUM(SupplierPrice * Quantity) DESC) AS Rank
    FROM products P 
    JOIN order_details OD ON P.UniqueProductID = OD.UniqueProductID
    JOIN shipments S ON P.UniqueProductID = S.UniqueProductID
    JOIN customers C ON S.UniqueCustomerID = C.UniqueCustomerID
    GROUP BY Segment, ProductName 
)
SELECT ProductName, Segment, Profit
FROM RankedProducts
WHERE Rank <= 3 -- Condition to return only the Top 3 Products with most profit
;

-- Answer to 3(b) Not all  Top 3 Products With Highest Sales are Most Profitable.. Only ((Canon imageCLASS 2200 Advanced Copier)) has highest sales and is still most profitable


-- 4. What are the 3 best-seller products in each product segment? (Quantity-wise)

-- A CTE that returns a Table of ranked ProductName and Segment based on their Total sales
WITH RankedProducts AS (
    SELECT ProductName,
           Segment,
           SUM((ProductPrice * (1 - Discount)) * Quantity) AS TotalSales,
           ROW_NUMBER() OVER (PARTITION BY Segment ORDER BY SUM((ProductPrice * (1 - Discount)) * Quantity) DESC) AS Rank
    FROM products P 
    JOIN order_details OD ON P.UniqueProductID = OD.UniqueProductID
    JOIN shipments S ON P.UniqueProductID = S.UniqueProductID
    JOIN customers C ON S.UniqueCustomerID = C.UniqueCustomerID
    GROUP BY Segment, ProductName
)
SELECT ProductName, Segment, TotalSales
FROM RankedProducts
WHERE Rank <= 3  -- Condition to return only the Top 3 Products with highest sales
;

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('Store.db')
cursor = conn.cursor()



# Create customers table
cursor.execute('''CREATE TABLE customers (
                    CustomerID TEXT PRIMARY KEY,
	                CustomerName TEXT,
	                Segment TEXT
                )''')


# Create address table and oreign key reference to Tablecustomers
cursor.execute('''CREATE TABLE address (
                    AddressID INTEGER PRIMARY KEY,
                    CustomerID TEXT,
                    Country TEXT,
                    Region TEXT,
                    State TEXT,
                    City TEXT,
                    PostalCode INTEGER,
                    FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID)
                )''')



# Create products table 
cursor.execute('''CREATE TABLE products (
                    ProductID TEXT PRIMARY KEY,
	                Category TEXT,
	                SubCategory TEXT,
	                ProductName TEXT,
	                UnitPrice REAL,
	                CostPrice REAL
                )''')


# Create orders table with primary key and foreign key reference to customers
cursor.execute('''CREATE TABLE orders (
                    OrderID TEXT PRIMARY KEY,
	                OrderDate TEXT,
	                CustomerID TEXT,
                    FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID)
                )''')



# Create OrderDetails table with primary key and foreign key reference to orders and products
cursor.execute('''CREATE TABLE order_details (
                    OrderDetailsID INTEGER PRIMARY KEY,
	                OrderID TEXT,
	                ProductID TEXT, 
	                Quantity INTEGER,
                    FOREIGN KEY (OrderID) REFERENCES orders(OrderID),
                    FOREIGN KEY (ProductID) REFERENCES products(ProductID)
                )''')


# Create orders table with primary key and foreign key reference to customers
cursor.execute('''CREATE TABLE orders (
                    OrderID TEXT PRIMARY KEY,
	                OrderDate TEXT,
	                CustomerID TEXT,
                    FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID)
                )''')




# Create shipments table 
cursor.execute('''CREATE TABLE shipments (
                    ShipID INTEGER PRIMARY KEY,
	                ShipDate TEXT,
	                ShipMode TEXT,
	                CustomerID TEXT, 
                    ProductID TEXT, 
                    FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID),
                    FOREIGN KEY (ProductID) REFERENCES products(ProductID)
                )''')


# Commit changes and close connection
conn.commit()
conn.close()

In [ ]:
import pandas as pd

# Assume 'orders_df' DataFrame has already been defined
# Generate a unique identifier for duplicate OrderIDs
def generate_unique_id(row):
    if orders_df['OrderID'].duplicated().loc[row]:
        return f"{orders_df.at[row, 'OrderID']}_DUPLICATE_{row}"  # Appending row index as suffix
    else:
        return orders_df.at[row, 'OrderID']

# Apply the function to create a new column with unique CustomerIDs
orders_df['UniqueOrderID'] = orders_df.index.map(generate_unique_id)

# Display the DataFrame with the new column
orders_df

In [ ]:
# Drop duplicate ProductIDs
store_copied_no_duplicates = store_copied.drop_duplicates(subset=['ProductID'])

# Create a new column for UniqueProductID based on the combination of ProductID and ProductName
store_copied_no_duplicates['UniqueProductID'] = store_copied_no_duplicates['ProductID'].astype(str) + '_' + store_copied_no_duplicates['ProductName']

store_copied_no_duplicates.reset_index(drop=True)

## ERD

In [ ]:
// Use DBML to define your database structure
// Docs: https://dbml.dbdiagram.io/docs

// Use DBML to define your database structure
// Docs: https://dbml.dbdiagram.io/docs

Table address {
  AddressID INTEGER [pk]
  CustomerID VARCHAR  [ref: > customers.CustomerID] // Foreign key reference to customers.CustomerID
  Country TEXT
  Region TEXT
  State TEXT
  City TEXT
  PostalCode INTEGER
}
Table shipments {
	ShipID INTEGER [pk]
	ShipDate DATE
	ShipMode TEXT
	CustomerID VARCHAR [ref: > customers.CustomerID]
  ProductID VARCHAR [ref: > products.ProductID]
}



 Table customers {
	CustomerID VARCHAR [pk]
	CustomerName VARCHAR
	Segment TEXT

}


TABLE order_details {
  OrderDetailsID INTEGER [pk]
	OrderID VARCHAR [ref: > orders.OrderID]
	ProductID VARCHAR [ref: > products.ProductID]
	Quantity INTEGER
	
}

Table orders {
	OrderID VARCHAR [pk]
	OrderDate DATE
	CustomerID VARCHAR
}

Table products {
	ProductID VARCHAR [pk]
	Category TEXT
	SubCategory TEXT
	ProductName VARCHAR
	ProductPrice REAL
  Discount REAL
	SupplierPrice REAL
}